*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f6fa;
    height: max-content;
}
.bg{
    z-index: -1000;
    position: absolute;
}
body img:nth-child(2){
    position: absolute;
    margin-top: 1000px;
    right: 0;
}
a{
    color: white;
    text-decoration: none;
}
header  {
    width: 100%;
    height: 600px;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    background: linear-gradient(0deg, rgba(49, 35, 57, 0.6), rgba(48, 34, 56, 0.5)),url("../Images/about\ background.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
}
nav{
    color: white;
    width:100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    height: 76px;
    margin: 0 170px;
}  
nav ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding: 5px;
}
li{
    height: 25px;
    margin: 0 10px;
}
li:hover{
    border-bottom: 1px solid rgb(226, 98, 226);
}
li a{ 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
}
input[type=submit].link{
    padding: 1px 5px;
    background-color: unset;
    border-radius: 5px;
    color: white;
}
.link:hover{
    background-color: rgba(194, 89, 255, 0.9);
    color: white;
    border: none;
}
.name{
    display: flex;
    font-family: 'MuseoModerno', cursive;
    width: 300px;
    padding: 0 20px;
}
.name p{
    display: inline-block;
    margin: 3px;
    height: 50px;
}
.name p:nth-child(1){
    font-size:40px;
}
.name p:nth-child(2){
    font-size: 12px;
    margin-top: 20px;
}
.logout{
    background-color: none !important;
}
.about{
    color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 300px;
}
.about h1, p{
    margin: 10px 0;
}
.about  p{
    font-size: 20px;
    line-height: 30px;
}
.therapists{
    height: 400px;
    width: 60%;
    margin: 100px 300px 0 300px;
    text-align: center;
}
.therapists h2{
    font-size: 2.25rem;
    color: #6e6362;
}
.therapists p{
    font-size: 1.275rem;
    color: #6e6362;
    margin: 20px;
}

.goalsandvalues{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.goalsandvalues h2{
    text-align: center;
    font-size: 2.25rem;
    color: #6e6362;
}
.goals{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 130px;
}
.goals-values{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    width: 350px;
    align-items: center;
    padding: 30px 40px;
    border-radius: 3px;
    box-shadow: 0 1px 10px 0 rgb(83 55 71 / 10%);
    margin: 0 auto;
    /* min-height: 100%; */
    font-size: 1rem;
}
.goals-values p{
    color: #8a8a8a;
    font-weight: 300;
    margin: 10px;
    line-height: 20px;
}
.goals-values img{
    height: 150px;
    margin: 10px;
}
.transform{
    height: 360px;
}
.improve{
    height: 400px;
}
.safespace{
    height: 440px;
}
.gurantee{
    width: 100%;
    margin: 10px auto;
    background-color: #302238d7;
    min-height: 100%;
}
.gucontent{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 50px 100px 100px;
    width: 60%;
    margin: 0 auto;
    color: white;
}
.gucontent h2{
    font-size: 3rem;
    font-weight: 900;
}
.gucontent p{
    font-size: 1.35rem;
    line-height: 30px;
}
.confidentiality{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
}
.ccontent{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.confidentiality h2{
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 700;
    color: #433f3f;
}
.confidence p{
    color: #3d3c3c;
    font-size: .9rem;
}
.feedback {
    color: #3d3c3c;
    margin: 0 50px;
}
.feedback a{
    color: #5f0a87;
    text-decoration: none;
}
.feedback a:hover{
    text-decoration: underline;
}
.letsgo{
    width: 8%;
    height: 150px;
    margin: 20px auto;
}
.letsgo img{
    width: 100px;
    padding: 20px;
    margin: 20px;
}
footer{
    background-color: #48334e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white ;
}
footer li{
    list-style: none;
    display: inline-block;
}
footer ul{
    padding: 10px;
}
footer p{
    padding: 10px;
}
footer img{
    width: 20px;
    height: 20px;
    padding: 0;
    color: white;
}
/* .chatbot{
    position: relative;
}
.chatbox__button{
    text-align: right;
    position: fixed;
    right: 4px;
    bottom: 4px;
} */
.container-chatbot{
    height: 200px;
}